<%- include("partials/header.ejs") %>
<h1>Update and Delete is here</h1>

<form>
    <input name="name" type="text" class="feedback-input" placeholder="Name" />
    <input name="email" type="text" class="feedback-input" placeholder="Title" />
    <textarea name="text" class="feedback-input" placeholder="Content"></textarea>
    <input type="submit" value="SUBMIT" />
</form>

